.marquee {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow: clip;
  color: #000000;
  font-weight: 600;
  font-size: 64px;
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.4) 20%, rgba(255, 255, 255, 0.4) 80%, rgba(255, 255, 255, 0.8) 100%);
  padding: 60px 0;
  box-sizing: border-box;
}

.marqueeContent {
  display: flex;
  align-items: center;
  gap: 40px;
  width: max-content;
  animation: marquee 40s linear infinite;
  will-change: transform;
  backface-visibility: hidden;
}

.marqueeItem {
  white-space: nowrap;
}

.fadeoutHorizontal {
    mask-image: linear-gradient(to right, transparent 0%, black 3%, black 97%, transparent 100%);
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}